/* RESET CSS */

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: #82cd47;
  text-align: center;
  color: whitesmoke;
  font-family: "Josefin Sans", sans-serif;
}

h1 {
  width: 15%;
  margin: 0 auto 0 auto;
}

h3 {
}

.e-mail:before {
  content: attr(data-website) "\0040"attr(data-user);
  unicode-bidi: bidi-override;
  direction: rtl;
}

.wrapper {
  margin: auto;
}

.top-container {
  background-color: #f0ff42;
  position: relative;
  padding-top: 100px;
  color: black;
}

.top-cloud {
  position: absolute;
  margin-right: 300 px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.hero-span {
  text-decoration: underline;
  font-weight: 150rem;
}
.profile{
  
}

.profile-pic{
  width: 20%;
}

.intro{
  height: 20vh;
}
.middle-container {
  position: relative;
  width: 50%;
  margin: auto;
}

.skills-container {
  display: flex;
  flex-direction: column;
}

.skill-row {
  width: 50%;
  margin: auto;
}

.skill-img {
  width: 50%;
  border-radius: 45%;
}

.bottom-container {
}

.footer {
  bottom: 20px;
}
