/* RESET CSS */

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: #82cd47;
  text-align: center;
  color: whitesmoke;
  font-family: "Josefin Sans", sans-serif;
}

h1 {
  width: 15%;
  margin: 0 auto 0 auto;
}

h1.top-text{
  width: 20rem;
  height: 7rem;
}

h3 {
}

p {
  line-height: 2;
}

hr {
  border: dotted lightgray 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a {
  color: #11999e;
  font-family: "Josefin Sans", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

.e-mail:before {
  content: attr(data-website) "\0040"attr(data-user);
  unicode-bidi: bidi-override;
  direction: rtl;
}

.wrapper {
  margin: auto;
}

.top-container {
  background-color: #f0ff42;
  position: relative;
  padding-top: 100px;
  color: black;
  height: 45rem;
}

.top-cloud {
  position: absolute;
  margin-right: 300 px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 30rem;
}


.hero-span {
  text-decoration: underline;
  font-weight: 150rem;
}

.profile-pic {
  width: 20%;
}

.intro {
  height: 20vh;
  width: 30%;
  margin: auto;
}
.middle-container {
  position: relative;
  width: 60%;
  margin: 100px auto;
}

.skills-container {
  display: flex;
  flex-direction: column;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.skill-img {
  width: 25%;
  border-radius: 45%;
  float: left;
  margin-right: 30px;
}

.contact-me{
  margin-top: 20px;
}
.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.bottom-container {
  background-color: #82cd47;
  padding: 50px 0 20px;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 10px 0;""
}

.btn-contact {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Josefin Sans", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn-contact:hover {
  background: #30ec3b;
  background-image: -webkit-linear-gradient(top, #30ec3b, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30ec3b, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30ec3b, #2bc4ad);
  background-image: -o-linear-gradient(top, #30ec3b, #2bc4ad);
  background-image: linear-gradient(to bottom, #30ec3b, #2bc4ad);
  text-decoration: none;
}

.footer {
  top: 20rem;
  background-color: #379237;
  bottom: 20px;
  height: 20vh;
}
